.venv
.env
test.ipynb
.gitignore
.venv
test.py
.git
.venv
tests.ipynb
__pycache__
*.pyc
.DS_Store
__pycache__/
__pycache__/*
*.pyc
__pycache__/
**/__pycache__/
.vscode
.pytest_cache
test_markdown.ipynb
.env_example.txt
test2.py
.ipynb_checkpoints
test.ipynb
test_.ipynb
test.py
.DS_Store
.coverage
htmlcov
pytest.ini
.pytest_cache
test_nava.ipynb
htmlcov
test2.ipynb
sample_codes.ipynb